
@{
    ViewBag.Title = "News4";
    Layout = "~/Views/Layout/_NewLayout.cshtml";
}
<div class='banner_new'>
    <div class="container">
        <p class="tieude">Tin tức</p>
        <p class="noidungtieude">TÍNH THỜI GIAN TỐI ƯU DƯỠNG CHẤT TRONG CƠ THỂ</p>
    </div>
</div>
<div class="container">
    <p style="font-size: 40px;">TÍNH THỜI GIAN TỐI ƯU DƯỠNG CHẤT TRONG CƠ THỂ</p>
    <p style="font-size:18px;">
        <br />
        Chúng ta biết rằng các bữa ăn quan trọng nhất trong ngày tại thời điểm trước – trong và sau khi bạn tập luyện, trên thực tế, thời điểm dinh dưỡng được thiết kế để giúp các vận động viên đạt được hiệu suất tập luyện có lợi thế nhất cho việc phục hồi. Bài viết này sẽ tổng hợp các hiểu biết hiện tại như thế nào là thời gian dưỡng chất giúp sửa chữa tổn thương mô, phục hồi chức năng sinh lý, bổ sung lượng glycogen, và thúc đẩy tăng trưởng cơ bắp.
        <br />
        Chúng ta biết rằng các bữa ăn quan trọng nhất trong ngày tại thời điểm trước – trong và sau khi bạn tập luyện, trên thực tế, thời điểm dinh dưỡng được thiết kế để giúp các vận động viên đạt được hiệu suất tập luyện có lợi thế nhất cho việc phục hồi. Bài viết này sẽ tổng hợp các hiểu biết hiện tại như thế nào là thời gian dưỡng chất giúp sửa chữa tổn thương mô, phục hồi chức năng sinh lý, bổ sung lượng glycogen, và thúc đẩy tăng trưởng cơ bắp.
        <br />
        Đầu tiên, một đánh giá cơ bản của các hormone kích thích tập luyện được đảm bảo. Trong cơ thể rất nhiều hormone dị hóa và đồng hóa được kích thích quá trình tập luyện. Catabolic hormone hỗ trợ trong việc đào thải các chất dinh dưỡng cho nhu cầu sản xuất năng lượng hoặc các tế bào. Các hormone catabolic chính được tiết ra trong lúc tập luyện là epinephrine, norepinephrine, cortisol và glucagon. hormon đồng hóa hỗ trợ phì đại cơ (tăng trưởng), sửa chữa mô, kiểm soát tình trạng viêm, và tạo điều kiện cho các hoạt động của carbohydrate, chất béo và chuyển hóa protein. Các hormon đồng hóa được quan tâm trong khi tập luyện là insulin, testosterone, IGF-I và hormone tăng trưởng.
    </p>
    <img height="300" width="200" src="~/Content/images/new4.png">
    <p style="font-size:18px;">
        <br />
        Các hệ thống thời gian dinh dưỡng:
        <br />
        Giai đoạn Năng lượng – trước và trong quá trình tập luyện.
        <br />
        Cơ glycogen là nhiên liệu chính, được sử dụng bởi cơ thể khi tập luyện . Glycogen dự trữ trong cơ bắp thấp dẫn đến mệt mỏi cơ bắp và cơ thể không có khả năng hoàn thành bài tập cường độ cao. Sự suy giảm của glycogen trong cơ bắp cũng là một yếu tố góp phần quan trọng trong yếu cơ cấp tính và giảm sức dẻo dai. Cả hai giảm lượng glycogen trong luyện tập aerobic và quá trình kỵ khí, do đó nhu cầu về carbohydrate là cao đối với tất cả các loại hình tập luyện trong giai đoạn này. Một số phản ứng nội tiết tố và sinh lý xảy ra trong giai đoạn năng lượng. mức cortisol đang gia tăng, mức insulin được giảm nhẹ và mức glycogen trong cơ bắp đang ngày càng cạn kiệt, làm cho giai đoạn năng lượng catabolic. Do đó, các mục tiêu với các giai đoạn năng lượng là để tăng chất dinh dưỡng, chủ yếu là carbohydrate và một số giao protein cho cơ bắp, glycogen tùng và mất protein, hạn chế ức chế hệ thống miễn dịch, giảm thiểu tổn thương cơ bắp và chuẩn bị dinh dưỡng cho một sự phục hồi.Ưu tiên nhanh hơn để cho tập luyện aerobic, protein có bổ sung carbohydrate đã được chứng minh để kích thích tổng hợp protein sau tập luyện. Lượng kết hợp carbohydrate và protein trước khi tập luyện cũng hỗ trợ tốc độ phục hồi cơ bắp sau khi tập luyện. bổ sung carbohydrate trước khi tạo kháng thể tăng khả năng của cơ thể để thực hiện yếu tố miễn dịch, lặp đi lặp lại và kéo dài thời gian tập luyện tạo nên sức đề kháng, Nó sẽ giúp duy trì lượng đường trong máu, duy trì chức năng miễn dịch, và hỗ trợ trong việc ức chế của cortisol.
        <br />
        Các giai đoạn tăng trưởng còn lại trong ngày
        <br />
        Các giai đoạn phát triển bao gồm 18 – 20 giờ sau khi tập luyện để phục hồi cơ bắp, tăng trưởng và làm bền sức cơ. các mục tiêu của giai đoạn này là để duy trì sự nhạy cảm insulin để tiếp tục bổ sung lượng glycogen và để duy trì trạng thái đồng hóa. Tiêu thụ một lượng protein và carbohydrate bữa ăn như Mass Muscle Gainer trong vòng 1 giờ sau khi tập luyện kháng có tác dụng kích thích tích cực vào sự tổng hợp protein
        <br />
        Khối cơ bắp Gainer có thể được thực hiện trước, trong và sau khi tập thể dục để tối đa hóa tiềm năng của bạn.
    </p>
</div>
