
@{
    ViewBag.Title = "News1";
    Layout = "~/Views/Layout/_NewLayout.cshtml";
}
<div class='banner_new'>
    <div class="container">
        <p class="tieude">Tin tức</p>
        <p class="noidungtieude">HÃY TƯ DUY NHƯ MỘT NGƯỜI TIÊU DÙNG THÔNG THÁI</p>
    </div>
</div>

<div class="container">
    <p style="font-size: 35px;">HÃY TƯ DUY NHƯ MỘT NGƯỜI TIÊU DÙNG THÔNG THÁI </p>
    <p style=" font-size:18px">
        Thể hình giống như bất kỳ môn thể thao khác. Để thành công, bạn phải dành cho mình 100% sự tập luyện, chế độ ăn uống của bạn và cách rèn luyện tinh thần. <br />
        Arnold Schwarzenegger đã từng nói … <br />

        “Thể hình giống như bất kỳ môn thể thao khác. Để thành công, bạn phải dành cho mình 100% sự tập luyện, chế độ ăn uống của bạn và cách rèn luyện tinh thần.”Hầu hết tất cả mọi người đều làm việc chỉ dành thời gian riêng cho chế độ ăn uống và đào tạo của họ. Nhưng sự khác biệt giữa một kẻ nghiệp dư và người chuyên nghiệp chính là suy nghĩ, niềm tin của họ, và thái độ.<br />
        Để trở thành một nhà vô địch ưu tú, không có gì khác ngoài mục tiêu của bạn, bạn phải suy nghĩ như một nhà vô địch THÔNG THÁI.<br />
        Khi một nhà vô địch trở thành một nhà vô địch bạn có thể chỉ nghĩ về bản thân như một nhà vô địch khi bạn trở thành một? Tuyệt đối không.<br />
        Vì vậy, khi bạn trở thành một nhà vô địch?<br />
        Có khi bạn là anh chàng to con nhất trong phòng tập? Khi bạn giành chiến thắng chương trình thể hình đầu tiên của bạn? Khi bạn đã bất bại năm, tám hoặc mười lần liên tiếp?<br />
        Sự thật là, bạn trở thành một nhà vô địch khi bạn nói rằng bạn là một nhà vô địch.<br />
        Bởi vì khi bạn gọi mình một nhà vô địch, dự đoán những gì sẽ xảy ra? Bạn bắt đầu HÀNH ĐỘNG như một nhà vô địch.<br />
        Và sự thay đổi đơn giản trong suy nghĩ có thể thực hiện nhiều điều cho bạn.
    </p>
    <img height="300" width="200" src="~/Content/images/new1.jpg">
    <p style=" font-size:18px">
        Từ suy nghĩ đến tin tưởng <br />
        Khi bạn tự gọi mình là một nhà vô địch, Bạn đã giải mã được chính bản thân bạn, và tìm thấy những thứ mà trước đây bạn chưa từng thấy<br />
        Đầu tiên, sự tự tin của bạn tăng vọt. Thậm chí nếu bạn đã là một người tự tin. Bạn càng tự gọi mình là nhà vô địch, và bạn càng thêm tin tưởng vào nó.<br />
        Và đó là mức độ tự tin cung cấp cho nhà vô địch khả năng để thực sự tin vào khả năng của mình để đạt được mục tiêu của họ.
        Thứ hai, khi bạn gọi mình là một nhà vô địch, bạn nâng tầm cho chính bản thân mình.<br />
        Và như vậy, sự tập luyện của bạn có mục đích mới, mà làm cho bạn tập luyện chăm chỉ và thông minh hơn.<br />
        Thứ ba, gỡ bỏ rào chắn tinh thần của bạn.<br />
        Diễn giả truyền động lực có tên Jordan Belfort, đã từng nói<br />
        “Điều duy nhất đứng giữa bạn và mục tiêu của bạn là câu chuyện BS bạn luôn nói với bản thân là tại sao bạn không thể đạt được nó.<br />
        Khi bạn thấy mình là một nhà vô địch, bạn bắt đầu thấy mình trên BS của riêng bạn. Và điều này giải phóng tâm trí của bạn để bắt đầu tìm kiếm động lực cho chính mình.<br />
        Kết quả là, phát triển cá nhân có một bước nhảy vọt lớn về phía trước.<br />
        Arnold không bao giờ tin vào thất bại. Khi lần đầu tiên ông di cư sang Mỹ, ông sẽ nói những điều như, “Một ngày, họ sẽ nói về tôi giống như cách họ làm về Steve Reeves.”<br />
        Với những suy nghĩ của một nhà vô địch ưu tú, phần còn lại đã trở thành lịch sử. Không ai có thể phủ nhận những cú nhảy lớn trong phát triển cá nhân và thành công Arnold đã có bằng cách đơn giản là tin rằng mình là một nhà vô địch.<br />
        Vì vậy, bạn là gì?
    </p>
</div>