
@{
    ViewBag.Title = "News3";
    Layout = "~/Views/Layout/_NewLayout.cshtml";
}
<div class='banner_new'>
    <div class="container">
        <p class="tieude">Tin tức</p>
        <p class="noidungtieude">7 CÔNG CỤNG CỦA GLUTAMIN TRONG KHI LUYỆN TẬP</p>
    </div>
</div>

<div class="container">
    <p style="font-size: 40px;">7 CÔNG DỤNG CỦA GLUTTAMIN KHI LUYỆN TẬP</p>
    <p style="font-size: 18px;">
        Glutamin và 7 tác dụng vượt trội nâng cao hiệu quả tập luyện cho Gymer<br />
        Glutamin là gì?<br />
        Glutamin là axit amin tự nhiên trong cơ thể với tác dụng chính là tổng hợp protein xây dựng cơ bắp, hỗ trợ đốt mỡ, phục hồi cơ bắp. Glutamin chiếm khoảng 60% các axit amin trong mô cơ và là một trong 20 axit amin tự nhiên được tìm thấy trong các khẩu phần ăn hàng ngày.
    </p>
    <br />
    <img height="300" width="200" src="~/Content/images/new3.jpg">
    <p style="font-size: 18px;">
        Glutamin có thể tìm thấy ở các loại thực phẩm: <br />

        – Các loại rau, đậu: rau cần, bó xôi, cải bắp,…<br />

        – Các loại thịt: gà, bò, cá, heo,…<br />

        – Các loại sữa và thực phẩm chế biến từ sữa: sữa chua, phô mai,…<br />

        Glutamin tổng hợp Protein, xây dựng cơ bắp, phục hồi cơ bắp sau tập luyện, đốt cháy nhanh mỡ thừa<br />
        Glutamin đóng vai trò quan trọng trong quá trình trao đổi, hấp thu Protein, tăng cường tế bào và chống dị hóa. Khả năng chống dị hóa của Glutamin là ngăn ngừa tình trạng mất cơ, rất cần thiết cho những bạn đang trong chế độ ăn kiêng.
        <br />
        Glutamin chứa khoảng 19% Nitơ nên nó sẽ là nguồn bổ sung Nitơ cho cơ bắp. Khi tập nặng, lượng Glutamin tụt rất nhanh, nó chính là nguyên nhân khiến Gymer cảm thấy mệt mỏi cơ bắp, giảm sức mạnh, thể lực và khả năng phục hồi.
        <br />
        Glutamin giúp tăng cường hóc môn tăng trưởng (HGH) lên đến 400%, tăng khả năng trao đổi chất, đốt cháy nhanh mỡ thừa, hệ tiêu hóa khỏe và xây dựng cơ bắp tối đa.
        <br />
        Glutamin giúp sản sinh năng lượng
        <br />
        Glutamin được xem là Glucose có khả năng tạo ra Glycogen trong cơ bắp từ Glucose máu, tác động đến việc sản xuất năng lượng trong quá trình tập luyện. Đặc biệt, trong các bài tập nặng, cường độ cao, Glutamin giúp tăng cường dẫn truyền Glucose đến các cơ xương khi tập làm tăng hiệu suất tập luyện, tăng cường độ và hiệu quả cao hơn, hỗ trợ trong việc loại bỏ các axit amin, các chất phụ khác của quá trình chuyển hóa năng lượng trong cơ bắp, qua đó tăng cường sự phục hồi nhanh chóng.
        <br />
        Glutamin giúp tăng cưỡng hệ thống miễn dịch, giảm nguy cơ mắc bênh tiểu đường
        <br />
        Ruột non đòi hỏi lượng Glutamin nhiều nhất trong cơ thể, hệ thống miễn dịch cũng vậy, nồng độ Glutamin giảm khi luyện tập, Gymer sẽ dễ bị bệnh hơn. Vì vậy, bổ sung Glutamin rất quan trọng, không những tăng cơ mà còn có thể duy trì lượng Glutamin ổn định. Glutamin còn cân bằng lượng insulin giúp kiểm soát lượng đường trong máu do đó ngăn ngừa, hỗ trợ điều trị tiểu đường.
        <br />
        Bình thường, cần mất gần 1 tuần để lấy lại lượng Glutamin tiêu hao sau tập, vì vậy nếu bạn muốn có năng lượng đi tập đều đặn, hiệu quả tập luyện cao, xây dựng được cơ bắp tối đa thì cần phải bổ sung Glutamin thường xuyên hơn nhé! Chúc các bạn thành công!
    </p>
</div>