
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Layout/_Cart.cshtml";
}

<div class="container">
    <img src="~/Content/images/success.png" height="200" width="200" alt="" class="center-block">
    <p class="text-center" style="background-color:white; color:black; font-size:25px;">THÀNH CÔNG!</p>
    <p class="text-center" style="background-color:white; color:black; font-size:20px;">Đơn hàng đã được đặt thành công !<br />Cảm ơn quý khách đã mua hàng tại
    Vfitness ! <br />Chúng tôi sẽ liên hệ với quý khách để xác nhận đơn hàng trong thời gian sớm nhất ! <br />Xin chân thành cảm ơn !</p>
    <a class="item_add" href="/"><p style="width:300px;" class="number item_price center-block"><i></i>Tiếp Tục mua hàng</p></a>
</div>

